DATABASE_URL=postgresql://ganti-dengan-access-key-anda:talatee@localhost:5434/talatee_platform
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=ganti-dengan-access-key-anda
MINIO_SECRET_KEY=ganti-dengan-secret-key-anda
MINIO_BUCKET=talatee-raw
MINIO_SECURE=false

DASHBOARD_ADMIN_USERNAME=admin
DASHBOARD_ADMIN_PASSWORD_HASH=
SESSION_SECRET_KEY=
